/* src/styles/about.css */
.about {
  min-height: calc(100vh - 70px); /* <--- PERBAIKAN */
  display: flex;
  padding: 0;
}
/* src/styles/about.css */
.about > .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 80px 20px; 
  box-sizing: border-box;
  flex-grow: 1; /* <--- TAMBAHKAN BARIS INI */
}
.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: center;
}
.about h2 {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
  color: var(--text-dark);
}
.about p {
  color: var(--text-muted);
  margin-bottom: 24px;
  font-display: justify;
  font-size: 1.3rem;
}
.about-content p {
  text-align: justify;
}
.about-image {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}
.about-image img {
  width: 100%;
  height: auto;
  display: block;
}

.about-cta {
  text-align: center;
}

.about-cta p {
  font-family: var(--font-heading);
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 24px;
}

.about-cta .btn{
  font-size: 20px;
}

.about-stats-container {
  text-align: center;
}
.about-stats-heading {
  font-family: var(--font-heading);
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-muted);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0;
}
.about-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.stat-item {
  text-align: center;
}
.stat-item svg {
  color: var(--accent-color);
  margin: 0 auto 8px;
}
.stat-item p {
  color: var(--text-dark);
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0;
}

@media (max-width: 992px) {
  .about {
    height: auto; 
    padding: 80px 0;
  }
  
  .about > .container {
    padding: 0 20px; 
    flex-direction: column;
    justify-content: flex-start;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }
  .about-image {
    order: -1;
    height: 350px;
  }
  .about-image img {
    object-fit: cover;
    height: 100%;
  }

  .about-cta {
    margin-top: 80px;
    text-align: center;
  }
  .about-cta p {
    font-size: 1.5rem;
  }

  .about-stats-container {
    margin-top: 80px;
  }
}